[Desktop Entry]
Type=Application
Terminal=false
Name=OpenNetworkAnalyzer

## Update with a call to OpenNetworkAnalyzer-update-launcher.sh!
Exec=/home/andreas/dev/OpenNetworkAnalyzer/software/main.py
Icon=/home/andreas/dev/OpenNetworkAnalyzer/software/icon/icon.png
Path=/home/andreas/dev/OpenNetworkAnalyzer/software

## Does not work! Needs further testing... The class name is only applied to the about dialog
StartupWMClass=openNetworkAnalyzer
